.form1 {
  padding: 50px;
  margin: 40px;
  width: 400px;
  height: 400px;
  margin-left: 700px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}
.email {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
}
.password {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
}
.very-weak{
    /* margin: 0 2px 0 2px; */
    width: 55px;
    height: 4px;
    /* background-color: red; */
}
.weak{
    margin: 0 2px 0 2px;
    width: 55px;
    height: 4px;
    /* background-color: rgb(255, 136, 0); */
}
.moderate{
    margin: 0 2px 0 2px;
    width: 55px;
    height: 4px;
    /* background-color: rgb(255, 225, 0); */
}
.strong{
    margin: 0 2px 0 2px;
    width: 55px;
    height: 1px;
    /* background-color: rgb(0, 255, 72); */
}
.indicator{
  display: flex;
    /* margin-right: 60px; */
    /* background-color: rgb(190, 193, 196); */
    border-radius: 10px;
    
}
#message{
  font-size: 15px;
  margin-top: 10px;
}
.button{
  padding: 8px 40px 8px 40px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  background-color: green;
  color: aliceblue;
  
}