
.horse{
    margin: 10px;
    border: 2px solid black;
}
.donkey{
    margin: 10px;
    border: 2px solid black;
}
.cat{
    margin: 10px;
    border: 2px solid black;
}
.h-svg{
    position: absolute;
    padding-left: 450px;
}
.h-svg{
    position: absolute;
    padding-left: 450px;
}
.h-svg{
    position: absolute;
    padding-left: 450px;
} 